
##pip install -r requirements.txt  -->>>> para instalar todas as dependências


# Web scraping
selenium

# NLP
nltk

# ML / IR
numpy
scikit-learn

# API
fastapi
uvicorn[standard]
pydantic

# Testing
pytest
pytest-cov

# Utilities
ujson
Pillow